
<div class="container mt-3">
  <div class="mx-auto">
    <form [formGroup]="heroFormGroup">
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label ms-2">Nom</label>
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 [class.is-invalid]="isFieldInvalid('name')"
                 [class.is-valid]="name.valid"
                 placeholder="Nom"
          >
          <div *ngIf="isFieldInvalid('name')" class="btn-danger ps-2 py-1">
            <div *ngIf="name.errors?.required">
              Le nom est obligatoire
            </div>
            <div *ngIf="name.errors?.minlength">
              Le nom doit faire au moins 2 caractères
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label ms-2">Classes</label>
          <select formControlName="classes" class="form-select">
            <option *ngFor="let classe of classesChoices" [ngValue]="classe">Classe {{classe.name}}</option>
          </select>
          <div *ngIf="(classes.dirty || classes.touched) && classes.invalid" class="btn-danger ps-2 py-1">
            <div *ngIf="classes.errors?.required">
              La classe est obligatoire
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-dark mt-3" [disabled]="heroFormGroup.invalid" (click)="onSubmit()">
        Créer personnage
      </button>
    </form>
  </div>
</div>
