
<div class="container mt-3">
  <div class="mx-auto">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div class="row">
        <div class="col-lg-6">
          <label class="form-label ms-2">Nom</label>
          <input type="text"
                 class="form-control"
                 name="user[name]"
                 [(ngModel)]="user.name"
                 #userName="ngModel"
                 [class.is-invalid]="(userName.dirty || userName.touched) && userName.invalid"
                 [class.is-valid]="userName.valid"
                 placeholder="Nom"
                 required
                 minlength="3"
          >
          <div *ngIf="(userName.dirty || userName.touched) && userName.invalid" class="btn-danger ps-2 py-1">
            <div *ngIf="userName.errors?.required">
              Le nom est obligatoire
            </div>
            <div *ngIf="userName.errors?.minlength">
              Le nom doit faire au moins 3 caractères
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6">
          <label class="form-label ms-2">Email</label>
          <input type="text"
                 class="form-control"
                 name="user[email]"
                 [(ngModel)]="user.email"
                 #userEmail="ngModel"
                 [class.is-invalid]="(userEmail.dirty || userEmail.touched) && userEmail.invalid"
                 [class.is-valid]="userEmail.valid"
                 placeholder="Email"
                 required
          >
          <div *ngIf="(userEmail.dirty || userEmail.touched) && userEmail.invalid" class="btn-danger ps-2 py-1">
            <div *ngIf="userEmail.errors?.required">
              L'email est obligatoire
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-dark mt-3" type="submit" [disabled]="myForm.invalid">
        Créer
      </button>
    </form>
  </div>
</div>
