
<div class="container">
  <h1>Régions de France</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          Nom
        </th>
        <th>
          Code
        </th>
        <th>
          Nb départements
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let region of regionCountArray"
          routerLink="/regions/{{region.region.code}}/departements"
      >
        <td>{{region.region.nom}}</td>
        <td>{{region.region.code}}</td>
        <td>{{region.nbDepartments}}</td>
      </tr>
    </tbody>
  </table>
</div>
